<h2>Login</h2>
<form action="/login" method="post">
  <input id="login-username" type="text" name="username">
  <input id="login-password" type="password" name="password">
  <input id="login-submit" type="submit" value="login">
</form>

<form action="/register" method="get">
    <input id="register-submit" type="submit" value="register">
</form>